body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: antiquewhite
}

main {
    flex: 1 0 auto;
}

.nav-wrapper {
    background-color: #efad67;
}

.brand-logo {
    padding-left: 10px;
}

.aboutUs-panel {
    margin-top: 25px;
}

.KenChin-panel {
    width: 95%;
    margin: auto;
    padding-top: 1px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

.SarinChee-panel {
    width: 95%;
    margin: auto;
    padding-top: 1px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

#services {
    margin: auto;
    width: 60%;
}

.footer {
    background-color: #efad67;
}
